#search_container {
	background-color: #3367D6;
	padding: 8px;
	display: flex;
}

#search {
    border: 0px darkgray solid;
	padding: 10px;
	outline-width: 0;
	background: #2850A8 url('search.png') no-repeat scroll 5px 5px;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 13px;
	flex-grow: 1;
}

#search::placeholder {
	color: #FFFFFF;
	opacity: 0.7;
}
